html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 26px;
  color: $default;
  @extend %quicksand-500;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

a {
  font-size: 16px;
  line-height: 26px;
  color: $default;
  @extend %quicksand-500;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  text-align: center;
  @extend %roboto-700;
  font-size: 48px;
  line-height: 65px;
  color: $title;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.text {
  text-align: center;
  max-width: 570px;
  margin: 0 auto 55px;
}

.breadcrumbs {
  display: inline-flex;
  justify-content: center;
  padding-left: 25px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url('../img/icons/home.svg');
    width: 16px;
    height: 16px;
    left: 0;
    top: 4px;
  }

  &__list {
    display: flex;
  }

  &__item {
    color: #727272;
    position: relative;
    padding-right: 40px;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../img/icons/angle-right.svg');
      width: 9px;
      height: 10px;
      right: 15px;
      top: 9px;

    }
  }

  &__item:last-child {
    color: $accent;
    padding-right: 0;

    &::after {
      display: none;
    }
  }

  &__link {
    color: inherit;
  }
}

.header--page-404 {
  background-color: $bg;
}

.star {
display: flex;
justify-content: center;
flex-direction: row-reverse;

  &__item {
    color: $bg;
    font-size: 40px;
    cursor: pointer;
    transition: .2s;
  }
}
.star__item:hover,
.star__item:hover~.star__item {
  color: $default;
}
.star[data-total-value="1"] .star__item:nth-child(n + 5),
.star[data-total-value="2"] .star__item:nth-child(n + 4),
.star[data-total-value="3"] .star__item:nth-child(n + 3),
.star[data-total-value="4"] .star__item:nth-child(n + 2),
.star[data-total-value="5"] .star__item:nth-child(n + 1) {
  color: #ffc35b;
}
